
/bin
/ipch
/Tests/*/Debug
/Tests/*/Release
/libxptrace/Debug
/libxptrace/Release
/payload-windows/Debug
/payload-windows/Release
/xptraced-windows/obj
*.filters
*.user
*.suo
*.sdf
*.opensdf
/_ReSharper.xptrace
/TestAdapter/obj